Repository swerdick/auto-water: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform-validate, docker-build, terraform-plan, terraform-apply, docker-push, deploy-artifacts

terraform-validate:
  stage: validate
  script:
  - gitlab-terraform validate

docker-build:
  stage: validate
  image: jonoh/docker-buildx-qemu
  variables:
    DOCKER_HOST: tcp://docker:2375/
  services:
  - name: docker:dind
  before_script:
  - cd ${CI_PROJECT_DIR}/src/poc
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - update-binfmts --enable
  ...

terraform-plan:
  stage: build
  variables:
    TF_VAR_accessKey: ${AWS_ACCESS_KEY_ID}
    TF_VAR_accessSecret: ${AWS_SECRET_ACCESS_KEY}
  script:
  - gitlab-terraform plan
  - gitlab-terraform plan-json
  artifacts:
    name: plan
    paths:
    - ${TF_ROOT}/plan.cache
    reports:
      terraform: ${TF_ROOT}/plan.json

terraform-apply:
  stage: deploy
  needs:
  - terraform-plan
  variables:
    TF_VAR_accessKey: ${AWS_ACCESS_KEY_ID}
    TF_VAR_accessSecret: ${AWS_SECRET_ACCESS_KEY}
  environment:
    name: production
  script:
  - gitlab-terraform apply
  dependencies:
  - terraform-plan
  when: manual

docker-push:
  image: jonoh/docker-buildx-qemu
  stage: build
  needs:
  - docker-build
  variables:
    DOCKER_HOST: tcp://docker:2375/
  services:
  - name: docker:dind
  before_script:
  - cd ${CI_PROJECT_DIR}/src/poc
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

deploy-artifacts:
  image: jpbarto/boto3
  stage: deploy
  needs:
  - docker-push
  before_script:
  - cd ${CI_PROJECT_DIR}/src/deployment-scripts
  script:
  - python deploy-prod.py

Docker compose poc
  .gitlab-ci.yml
  src/deployment-scripts/deploy-prod.py
  src/poc/app.py
Due: terraform-validate, docker-build, terraform-plan, terraform-apply, docker-push, deploy-artifacts

Docker compose poc
  .gitlab-ci.yml
Due: terraform-validate, docker-build, terraform-plan, terraform-apply, docker-push, deploy-artifacts

Docker compose poc
  src/deployment-scripts/deploy-prod.py
Due: none

Docker compose poc
  src/deployment-scripts/deploy-prod.py
  terraform/iam.tf
Due: terraform-validate, terraform-plan, terraform-apply

Docker compose poc
  src/poc/docker-compose.yml
  terraform/iam.tf
Due: terraform-validate, terraform-plan, terraform-apply

Docker compose poc
  src/poc/app.py
Due: none

Adding lots of documentation
  LEARNINGS.md
  README.md
Due: none

playing around getting access to pins in container
  src/poc/legacy/Dockerfile
  src/poc/legacy/app.py
  src/poc/legacy/requirements.txt
Due: none

docker command
  src/poc/legacy/command.txt
Due: none

Adding costs page and markdown formatting change
  COSTS.md
  README.md
Due: none

Adding firehose
  COSTS.md
  terraform/kinesis.tf
  terraform/main.tf
  terraform/project-bucket.tf
Due: terraform-validate, terraform-plan, terraform-apply

feat: big refactor back to github hosting, docker --> podman, agent markdown files, justfile, and updating dependencies to work with pi5. the project lives
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .gitignore
  .gitlab-ci.yml
  AGENTS.md
  CLAUDE.md
  justfile
  src/poc/.dockerignore
  src/poc/Containerfile
  src/poc/Dockerfile
  src/poc/app.py
  src/poc/compose.yaml
  src/poc/docker-compose.yml
  src/poc/legacy/button-push.py
  src/poc/legacy/sensor-polling.py
  src/poc/pyproject.toml
  src/poc/requirements-dev.txt
  src/poc/tests/__init__.py
  src/poc/tests/test_app.py
Due: terraform-validate, docker-build, terraform-plan, terraform-apply, docker-push, deploy-artifacts

feat: replace Flask deploy-test with sensor-reading poller + inventory
  INVENTORY.md
  justfile
  src/poc/Containerfile
  src/poc/app.py
  src/poc/auto_water/__init__.py
  src/poc/auto_water/__main__.py
  src/poc/auto_water/config.py
  src/poc/auto_water/health.py
  src/poc/auto_water/logging_config.py
  src/poc/auto_water/models.py
  src/poc/auto_water/poller.py
  src/poc/auto_water/sensors/__init__.py
  src/poc/auto_water/sensors/base.py
  src/poc/auto_water/sensors/bh1750.py
  src/poc/auto_water/sensors/ds18b20.py
  src/poc/auto_water/sensors/factory.py
  src/poc/auto_water/sensors/hdc302x.py
  src/poc/auto_water/sensors/resistive.py
  src/poc/auto_water/sinks/__init__.py
  src/poc/auto_water/sinks/base.py
  src/poc/auto_water/sinks/postgres.py
  src/poc/auto_water/sinks/stdout.py
  src/poc/compose.yaml
  src/poc/pyproject.toml
  src/poc/requirements-hw.txt
  src/poc/requirements.txt
  src/poc/tests/test_app.py
  src/poc/tests/test_config.py
  src/poc/tests/test_health.py
  src/poc/tests/test_models.py
  src/poc/tests/test_poller.py
  src/poc/tests/test_sensors.py
  src/poc/tests/test_sinks.py
Due: none

fix: address Copilot PR review
  src/auto_water/poller.py
  src/auto_water/sensors/factory.py
  tests/test_config.py
  tests/test_poller.py
Due: none

feat: add k8s deploy manifests for the Flux-synced deployment
  deploy/deployment.yaml
  deploy/kustomization.yaml
  deploy/namespace.yaml
  deploy/postgres-cluster.yaml
Due: none

fix(deploy): correct samwise toleration key
  deploy/deployment.yaml
Due: none

fix(container): build lgpio from source for Blinka on Pi 5
  Containerfile
  requirements-hw.txt
Due: none

feat(deploy): expose Postgres via MetalLB LoadBalancer
  deploy/postgres-cluster.yaml
Due: none

feat(deploy): add Grafana dashboard for sensor readings
  deploy/grafana-dashboard.yaml
  deploy/kustomization.yaml
Due: none

feat: time-based retry-buffer retention (30d) + pod memory limit
  deploy/deployment.yaml
  src/auto_water/__main__.py
  src/auto_water/config.py
  src/auto_water/poller.py
  tests/test_config.py
  tests/test_poller.py
Due: none

feat: split temperature panel by sensor; one timestamp per poll cycle
  deploy/grafana-dashboard.yaml
  src/auto_water/poller.py
  tests/test_poller.py
Due: none

feat: enable db monitoring
  deploy/postgres-cluster.yaml
Due: none

refactor(deploy): hand-manage CNPG PodMonitor (enablePodMonitor deprecated)
  deploy/kustomization.yaml
  deploy/postgres-cluster.yaml
  deploy/postgres-podmonitor.yaml
Due: none

feat: ADS1115 soil moisture, DS18B20 plant naming, resilient sensor init
  deploy/grafana-dashboard.yaml
  requirements-hw.txt
  src/auto_water/config.py
  src/auto_water/models.py
  src/auto_water/scan.py
  src/auto_water/sensors/ads1115.py
  src/auto_water/sensors/factory.py
  tests/test_config.py
  tests/test_sensors.py
Due: none

feat: spill the retry buffer to disk so restarts don't drop readings
  deploy/buffer-pvc.yaml
  deploy/deployment.yaml
  deploy/kustomization.yaml
  src/auto_water/__main__.py
  src/auto_water/poller.py
  src/auto_water/spill.py
  tests/test_poller.py
Due: none

chore: add forward-db justfile recipe
  justfile
Due: none

fix: PR 16 review feedback
  src/auto_water/poller.py
  src/auto_water/scan.py
  tests/test_poller.py
Due: none

ci: adopt release-please for versioned releases and deploy-on-release
  .github/dependabot.yaml
  .github/workflows/deploy.yaml
  .github/workflows/pr-changelog.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  AGENTS.md
  deploy/kustomization.yaml
  release-please-config.json
  src/auto_water/__init__.py
Due: none

Path conditions:
  terraform-validate: any of: terraform/*, .gitlab-ci.yml
  docker-build: any of: src/*, .gitlab-ci.yml
  terraform-plan: any of: terraform/*, .gitlab-ci.yml
  terraform-apply: any of: terraform/*, .gitlab-ci.yml
  docker-push: any of: src/*, .gitlab-ci.yml
  deploy-artifacts: any of: src/*, .gitlab-ci.yml
